@{
    ViewBag.Title = "ViewUserMovies";
    Layout = null;
}


<table id="UserMoviesTable" class="table">
    <thead>
        <tr>
            <th>imdbID</th>
            <th>Title</th>
            <th>Genre</th>
            <th>Rating</th>
            <th>Favourite</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>

